<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Class Transcriber needs access to the microphone to record your lectures.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Class Transcriber needs speech recognition to transcribe your recordings in real-time.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.145011317257-k0pijk1c04ihu4qjp4t9a4f6ltd2ndhq</string>
			</array>
			<key>CFBundleURLName</key>
			<string>Google Sign-In Callback</string>
		</dict>
	</array>
</dict>
</plist>
